<footer class="footer">
    <div class="footer-content justify-content-between">
        <p class="m-b-0" style="color: white">Copyright © 2026 Âu Hữu Cường UI Senior Accsociate
		<span *ngIf="user.username == 'hait'">
			Là Founder UI nhưng chưa 1 lần lên level 
		</span>
		. All rights reserved.</p>
        <span>
            <a href="" class="text-gray m-r-15" style="color: white">Term &amp; Conditions</a>
            <a href="" class="text-gray" style="color: white">Privacy &amp; Policy</a>
        </span>
    </div>
</footer>